{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Votre panier</h1>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Nom du produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
            </tr>
        </thead>
        {% for produit in panier %}
        <tr>
            <td>{{produit.name}}
                <form method="POST" action="{{ path('panier.delete', {id : produit.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </td>
            <td>1</td>
            <td>{{produit.price}}€</td>
            
        </tr>
        {% endfor %}
    </table>
    Total prix panier : {{total}}€
</div>

{{ form_start(panierForm) }}
    <div class="form-group">
        <label for="panier.email">Email</label>
        {{ form_row(panierForm.email) }}
        <small class="text-danger">
            {{ form_errors(panierForm.email) }}
        </small>
    </div>
    <button type="submit" class="btn btn-primary">
        Passer la commande
    </button>
{{ form_end(panierForm) }}

{% endblock %}

