{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="row mt-5">
       <div class="col-6">
            <h2>Produits Récents</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date création</th>
                    </tr>
                </thead>
                {% for recent in mostRecentProducts  %}
                    <tr>
                        <td><a href="{{ path('product.show', {id : recent.id}) }}">{{recent.name}}</a></td>
                        <td>{{recent.createdAT.date}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>   
        <div class="col-6">
            <h2>Produits les moins chers</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                {% for price in PriceLess %}
                    <tr>
                        <td><a href="{{ path('product.show', {id : price.id}) }}">{{price.name}}</a></td>
                        <td>{{price.price}}€</td>
                    </tr>
                {% endfor %}
            </table>
        </div>  
    </div>
{% endblock %}
