{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Commande</h1>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        {% for commande in commandes %}
        <tr>
            <td><a href="{{ path('command.show', {id : commande.id}) }}">{{commande.id}}</a></td>
            <td>{{commande.email}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
