{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<a name="Retour" id="Retour" class="btn btn-primary" href="/command" role="button">Retour</a>
    <table class="table">
        <h1>Commande {{commande.id}}</h1>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tr>
            <td>{{commande.id}}</td>
            <td>{{commande.email}}</td>
        </tr>
        <tr>
     
        </tr>
    </table>
    <h2>Produits</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom produit</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for product in commande.products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}€</td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>
    Vous avez {{nbProduct}} produits. <br>
    Le prix total de la commande est de {{prixtotal}}€.
</div>

{% endblock %}


