{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Date création</th>
            </tr>
        </thead>
        {% for produit in produits %}
        <tr>
            <td><a href="{{ path('product.show', {id : produit.id}) }}">{{produit.name}}</a></td>
            {% if produit.description|length > 300 %}
                <td>{{ produit.description|slice(0, 300)}}... <a href="{{ path('product.show', {id : produit.id}) }}">Voir plus</a></td>
            {% else %}
                {{produit.description}}
            {% endif %}
            <td>{{produit.price}}€</td>
            <td>{{produit.createdAT.date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
