{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<a name="Retour" id="Retour" class="btn btn-primary" href="/product" role="button">Retour</a>
<button id="panier" class="btn btn-outline-dark btn-lg">Ajouter</button>
    <table class="table">
        <tr>
            <td><h1 data-id="{{ produit.id }}">{{ produit.name }}</h1></td>
            <td>{{produit.description}}</td>          
            <td>{{produit.price}}€</td>
            <td>{{produit.createdAT.date}}</td>         
        </tr>
    </table>
</div>

{% endblock %}
{% block javascripts %}
<script>
    const id = document.querySelector("h1").getAttribute("data-id");
    const panier = document.querySelector("#panier");
    const url = `/panier/add/${id}`;

    panier.addEventListener("click", () => {
        panier.disabled = true;

        fetch(url)
            .then(res => res.json())
            .then(res => {
                panier.disabled = true;
            });
    });

</script>
{% endblock %}

